﻿<table border='0' cellpadding='0' cellspacing='0' id='timesheetxTimesheetGrid_main' style="overflow:hidden;table-layout:fixed;position:relative;width:100%;" class="ig_7e390610_r0" onresize="igtbl_onResize('timesheetxTimesheetGrid');" onmousemove="igtbl_tableMouseMove(event,'timesheetxTimesheetGrid');" onmouseup="igtbl_tableMouseUp(event,'timesheetxTimesheetGrid');"><tr id="timesheetxTimesheetGrid_mr" style=""><td id="timesheetxTimesheetGrid_mc" align='left' style="width:100%;vertical-align:top;"><div id="timesheetxTimesheetGrid_div" style="position:relative;overflow:auto;width:100%;" onscroll='igtbl_onScroll(event,"timesheetxTimesheetGrid");' tabIndexPage='0' hideFocus='true'><table id='G_timesheetxTimesheetGrid' bandNo='0' border='0' cellpadding='0' cellspacing='0'
	style='table-layout:fixed;border-collapse:collapse;position:relative;width:100%;position:relative;' onSelectStart='igtbl_selectStart(event,"timesheetxTimesheetGrid");' onmousedown='igtbl_cellClickDown(event,"timesheetxTimesheetGrid");' onmouseup='igtbl_cellClickUp(event,"timesheetxTimesheetGrid");' oncontextmenu='igtbl_cellContextMenu(event,"timesheetxTimesheetGrid");' onmousemove='igtbl_cellMouseMove(event,"timesheetxTimesheetGrid");' onmouseover='igtbl_cellMouseOver(event,"timesheetxTimesheetGrid");' onmouseout='igtbl_cellMouseOut(event,"timesheetxTimesheetGrid");' ondblclick='igtbl_cellDblClick(event,"timesheetxTimesheetGrid");'>
<colgroup>
	<col width='10%' />
	<col width='10%' />
	<col width='8%' />
	<col width='8%' />
	<col width='8%' />
	<col width='8%' />
	<col width='8%' />
	<col width='8%' />
	<col width='8%' />
	<col width='8%' />
	<col width='8%' />
	<col width='1px' style='display:none;' /></colgroup>
<thead class="ig_7e390610_r1 infragisticsWebGridRow ig_7e390610_r4 infragisticsWebGridHeader" onmousedown='igtbl_headerClickDown(event,"timesheetxTimesheetGrid");' onmouseup='igtbl_headerClickUp(event,"timesheetxTimesheetGrid");' onmouseout='igtbl_headerMouseOut(event,"timesheetxTimesheetGrid");' onmousemove='igtbl_headerMouseMove(event,"timesheetxTimesheetGrid");' onmouseover='igtbl_headerMouseOver(event,"timesheetxTimesheetGrid");' oncontextmenu='igtbl_headerContextMenu(event,"timesheetxTimesheetGrid");'>
<tr>
	<th id='timesheetxTimesheetGrid_c_0_0' columnNo='0' height='' class="ig_7e390610_r4 infragisticsWebGridHeader ">Week no.</th>
	<th id='timesheetxTimesheetGrid_c_0_1' columnNo='1' height='' class="ig_7e390610_r4 infragisticsWebGridHeader ">Date</th>
	<th id='timesheetxTimesheetGrid_c_0_2' columnNo='2' height='' class="ig_7e390610_r4 infragisticsWebGridHeader "
		style="display:none;">HiddenDate</th>
<th id='timesheetxTimesheetGrid_c_0_3' columnNo='3' height='' class="ig_7e390610_r4 infragisticsWebGridHeader ">Dagnorm</th>
<th id='timesheetxTimesheetGrid_c_0_4' columnNo='4' height='' class="ig_7e390610_r4 infragisticsWebGridHeader ">Boekingen</th>
<th id='timesheetxTimesheetGrid_c_0_5' columnNo='5' height='' class="ig_7e390610_r4 infragisticsWebGridHeader ">Reële Prestatie</th>
<th id='timesheetxTimesheetGrid_c_0_6' columnNo='6' height='' class="ig_7e390610_r4 infragisticsWebGridHeader ">Flex +/-</th>
<th id='timesheetxTimesheetGrid_c_0_7' columnNo='7' height='' class="ig_7e390610_r4 infragisticsWebGridHeader ">Flex saldo</th>
<th id='timesheetxTimesheetGrid_c_0_8' columnNo='8' height='' class="ig_7e390610_r4 infragisticsWebGridHeader ">Afwezigheden</th>
<th id='timesheetxTimesheetGrid_c_0_9' columnNo='9' height='' class="ig_7e390610_r4 infragisticsWebGridHeader ">Overwerk</th>
<th id='timesheetxTimesheetGrid_c_0_10' columnNo='10' height='' class="ig_7e390610_r4 infragisticsWebGridHeader ">Nog te verantwoorden</th>
<th id='timesheetxTimesheetGrid_c_0_11' columnNo='11' height='' class="ig_7e390610_r4 infragisticsWebGridHeader ">Weekprestatie</th>
</tr>
</thead>
<tbody class="ig_7e390610_r1 infragisticsWebGridRow ig_7e390610_r4 infragisticsWebGridHeader">
	<tr id='timesheetxTimesheetGrid_r_0'>
		<td>29</td>
		<td>Mon 16/07/2018</td>
		<td style="display:none;">20180716</td>
<td>08.00</td>
<td iDV="07%3a13  ">07:13&nbsp;&nbsp;</td>
<td>09.24</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Ja</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
</tr>
<tr id='timesheetxTimesheetGrid_r_1' class="ig_7e390610_r2 infragisticsWebGridRowAlternate" alt='true'>
	<td>29</td>
	<td>Tue 17/07/2018</td>
	<td style="display:none;">20180717</td>
<td>08.00</td>
<td>&nbsp;</td>
<td iDV="  .  ">10.15</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Nee</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
</tr>
<tr id='timesheetxTimesheetGrid_r_2'>
	<td>29</td>
	<td>Wed 18/07/2018</td>
	<td style="display:none;">20180718</td>
<td>08.00</td>
<td>&nbsp;</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Nee</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
</tr>
<tr id='timesheetxTimesheetGrid_r_3' class="ig_7e390610_r2 infragisticsWebGridRowAlternate" alt='true'>
	<td>29</td>
	<td>Thu 19/07/2018</td>
	<td style="display:none;">20180719</td>
<td>08.00</td>
<td>&nbsp;</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Nee</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
</tr>
<tr id='timesheetxTimesheetGrid_r_4'>
	<td>29</td>
	<td>Fri 20/07/2018</td>
	<td style="display:none;">20180720</td>
<td>08.00</td>
<td>&nbsp;</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Nee</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
</tr>
<tr id='timesheetxTimesheetGrid_r_5' class="ig_7e390610_r2 infragisticsWebGridRowAlternate" alt='true'>
	<td>29</td>
	<td>Sat 21/07/2018</td>
	<td style="display:none;">20180721</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td>&nbsp;</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Nee</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
</tr>
<tr id='timesheetxTimesheetGrid_r_6'>
	<td>29</td>
	<td>Sun 22/07/2018</td>
	<td style="display:none;">20180722</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td>&nbsp;</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Nee</td>
<td iDV="  .  ">&nbsp;&nbsp;.&nbsp;&nbsp;</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</table>
<div>
	<img src='/ProNetEE.premnat05/WebResource.axd?d=wcIWYTBmhkraVEU56QXOHv_ox9kjzVihbKkBPHIwpD0NxlQoJgN0G-p5uuyRJ2AuZu-f9KCng1oLu4sY72DUf34vs9psXyaCBC7EjR8NFLQvL-OJjoe63p2GTjcb6Wy8JB1eDPrOam7hyabzkojvR7qnsjnXCt2XYIvd_7BZxw5VXgTYFf2UJJTF7Z5tJlehyfSQM7w8D710dbUn11IE5g2&t=636670030640000000'
		border='0px' width='10px' height='12px' id="timesheetxTimesheetGrid_pimgUp" style="overflow:hidden;position:absolute;left:0px;top:0px;display:none;" /> <img src='/ProNetEE.premnat05/WebResource.axd?d=YPBcG3d-Gpawl9kMcgijhCohyEW5bFPBCl76XdnYNn1mEUxlp_HNHX7ui_X0h4oU2QnI8a1X6myBV4_Ng8h3PWhF2DH4BLqJVoi-KVOfCIztttFMu5W5hcZH7t-2nRq0BEMvtInsLP6FLSBeFlqgGDlMYo7Amb5bMO7W5WOp_os-aBVF9Xtabgiyzqoyb9KfP7m6SFIA21BFP2oRwJztRQ2&t=636670030640000000'
	border='0px' width='10px' height='12px' id="timesheetxTimesheetGrid_pimgDn" style="overflow:hidden;position:absolute;left:0px;top:0px;display:none;" /></div>